.unsave-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 199, 199);
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

.recipe-container {
    padding-left: 2%;
    padding-top: 2%;
    min-height: 59.5vh;
}