.container-fluid {
    padding-bottom: 5%;
    padding: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    background-color: #e8c38c;
    align-items: center;
    min-height: 100px;
}

.search-container-header {
    margin: 0 2%;
    color: rgb(55, 54, 54);;
}

.filters {
    margin: 0 2%;
}
.filter {
    margin: 15px 5px;
    padding-left: 4px;
    border: none;
    border-radius: 7px;
    height: 30px;
    width: 80px;
    background-color: #bfedb0;
    font-size: small;
    color: rgb(55, 54, 54);
}
.filter:hover {
    background-color: #469f43;
    color: rgba(255, 255, 255, 0.796);
}

.searchbar {
    padding-left: 10px;
    margin-left: 50px;
    justify-content: center;
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 7px;
}
.searchbar-btn {
    border: none;
    border-radius: 7px;
    margin: 0 15px;
    height: 30px;
    width: 70px;
    background-color: #bfedb0;
    color: rgb(55, 54, 54);
}
.searchbar-btn:hover {
    background-color: #469f43;
    color: rgba(255, 255, 255, 0.796);
}


@media screen and (width < 760px) {
    .search-container {
        flex-direction: column;
    }
    .search-small-screen {
        margin: 1.5%
    }
}